@font-face {
  font-family: "Futura Bk BT";
  src: url(/./futuraMediumBT/futuraMediumBT.ttf),
    url(/./futuraMediumBT/futuraMediumBT.eot),
    url(/./futuraMediumBT/futuraMediumBT.woff),
    url(/./futuraMediumBT/readme.txt);
}
@font-face {
  font-family: "Futura Md BT";
  src: url(/./futuraMediumBT/futuraMediumBT.ttf),
    url(/./futuraMediumBT/futuraMediumBT.eot),
    url(/./futuraMediumBT/futuraMediumBT.woff),
    url(/./futuraMediumBT/readme.txt);
}
@font-face {
  font-family: "Futura LT";
  src: url(/./futuraMediumBT/futuraMediumBT.ttf),
    url(/./futuraMediumBT/futuraMediumBT.eot),
    url(/./futuraMediumBT/futuraMediumBT.woff),
    url(/./futuraMediumBT/readme.txt);
}
@font-face {
  font-family: "Futura LtCn BT";
  src: url(/./futura_ltcn_bt/freefontsdownload.txt),
    url(/./futura_ltcn_bt/FuturaLightCondensedBT.ttf),
    url(/./futura_ltcn_bt/FuturaLtCnBT-Italic.ttf),
    url(/./futura_ltcn_bt/FuturaLtCnBTItalic.ttf);
}
@font-face {
  font-family: "Futura XBlkCnIt BT";
  src: url(/./futuraMediumBT/futuraMediumBT.ttf),
    url(/./futuraMediumBT/futuraMediumBT.eot),
    url(/./futuraMediumBT/futuraMediumBT.woff),
    url(/./futuraMediumBT/readme.txt);
}
@font-face {
  font-family: "Futura Hv BT";
  src: url(/./futuraMediumBT/futuraMediumBT.ttf),
    url(/./futuraMediumBT/futuraMediumBT.eot),
    url(/./futuraMediumBT/futuraMediumBT.woff),
    url(/./futuraMediumBT/readme.txt);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    overflow-x: hidden;
    background-color: #000;
    .container {
      // border: 2px solid red;
      main {
        border: inherit;
        .section_main {
          .header {
            border: inherit;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2% 2%;
            position: relative;
            z-index: 999;
            nav {
              ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 37px;
                li {
                  cursor: pointer;
                  list-style-type: none;
                  a {
                    text-decoration: none;
                    font-family: "Futura Bk BT";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: #ffffff;
                    transition: all 0.4s;
                    position: relative;
                    &::before {
                      position: absolute;
                      content: "";
                      width: 0;
                      height: 2px;
                      background-color: #fff;
                      top: 120%;
                      transition: all 0.4s;
                    }
                    &:hover {
                      &::before {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
            .header_icon {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 44px;
              span {
                cursor: pointer;
                transition: all 0.4s;
                svg {
                  path {
                    fill {
                      transition: all 0.4s;
                    }
                  }
                }
                &:hover {
                  scale: 1.5;
                  svg {
                    path {
                      fill: red;
                    }
                  }
                }
              }
            }
          }
          .header_function {
            position: fixed;
            transition: all 1s;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            top: 0;
            left: 0;
            padding: 2% 2%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          }
          background: url("/./assets/img/section_main background.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right center;
          width: 100%;
          position: relative;
          .section_main_item {
            z-index: 99;
            .section_main_item_child {
              &:first-of-type {
                display: flex;
                align-items: center;
                margin-top: 100px;
                .section_main_item_child_row {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  img {
                    &:nth-of-type(1) {
                      width: 600px;
                      height: 408px;
                    }
                    &:nth-of-type(2) {
                      position: absolute;
                      top: 32%;
                      left: 30%;
                    }
                  }
                }
                .section_main_item_child_col {
                  margin-left: 90px;
                  h1 {
                    font-family: "Futura Md BT";
                    font-style: italic;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 48px;
                    letter-spacing: 0.16em;
                    color: #ffffff;
                    z-index: 10;
                  }
                  .section_main_item_child_col_row {
                    display: flex;
                    align-items: center;
                    margin-top: 32px;
                    gap: 164px;
                    h6 {
                      font-family: "Futura Hv BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 36px;
                      line-height: 36px;
                      color: #ffffff;
                    }
                    .size {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      gap: 20px;
                      h5 {
                        font-family: "Futura Bk BT";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #ffffff;
                        h6 {
                          font-family: "Futura Hv BT";
                          font-style: normal;
                          font-weight: 400;
                          font-size: 36px;
                          line-height: 43px;
                          color: #ffffff;
                        }
                      }
                    }
                  }
                  button {
                    margin-top: 80px;
                    border: 1px solid #ffffff;
                    border-radius: 36px;
                    padding: 9px 19px;
                    background-color: #000;
                    font-family: "Futura Bk BT";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 16px;
                    color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    cursor: pointer;
                    transition: all 0.4s;
                    margin-top: 32px;
                    span {
                      svg {
                        path {
                          fill {
                            transition: all 0.4s;
                          }
                        }
                      }
                    }
                    &:hover {
                      border: 1px solid red;
                      color: red;
                      span {
                        svg {
                          path {
                            fill: red;
                          }
                        }
                      }
                    }
                  }
                }
              }
              &:last-of-type {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 87px;
                gap: 80px;
                .section_main_item_child_buttons {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 44px;
                  .Previous {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    transition: all 0.4s;
                    &:hover {
                      h5 {
                        color: red;
                      }
                      span {
                        svg {
                          path {
                            fill: red;
                          }
                        }
                      }
                    }
                    h5 {
                      font-family: "Futura Bk BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 16px;
                      text-transform: capitalize;
                      color: #ffffff;
                      transition: all 0.4s;
                    }
                    span {
                      svg {
                        path {
                          fill {
                            transition: all 0.4s;
                          }
                        }
                      }
                    }
                  }
                  .Next {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    transition: all 0.4s;
                    &:hover {
                      h5 {
                        color: red;
                      }
                      span {
                        svg {
                          path {
                            fill: red;
                          }
                        }
                      }
                    }
                    h5 {
                      font-family: "Futura Bk BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 16px;
                      text-transform: capitalize;
                      color: #ffffff;
                    }
                    span {
                      svg {
                        path {
                          fill {
                            transition: all 0.4s;
                          }
                        }
                      }
                    }
                  }
                }
                .section_main_item_child_products {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 40px;
                  .section_main_item_child_products_item {
                    width: 320px;
                    height: 195px;
                    border: 2px solid #ffffff;
                    &:nth-of-type(1) {
                      img {
                        width: 229px;
                        height: 134px;
                        transform: translateY(-40px);
                        margin-left: 15px;
                      }
                    }
                    &:nth-of-type(2) {
                      img {
                        width: 229px;
                        height: 102px;
                        margin-left: 21px;
                        transform: translateY(-15px);
                      }
                      h5 {
                        margin-top: 30px;
                      }
                    }
                    &:nth-of-type(3) {
                      img {
                        width: 229px;
                        height: 117px;
                        margin-left: 35px;
                        transform: translateY(-30px);
                      }
                      h5 {
                        margin-top: 15px;
                      }
                    }
                    h5 {
                      font-family: "Futura LtCn BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 24px;
                      line-height: 0px;
                      text-transform: uppercase;
                      color: #ffffff;
                      margin-left: 32px;
                    }
                  }
                }
              }
            }
          }
          .section_main_labels{
            width: 100%;
            position: absolute;
            top: 94%;
            img{
              width: 100%;
            }
          }
        }
        .section_essence {
          position: relative;
          margin-top: 213px;
          h3 {
            font-family: "Futura Md BT";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 100px;
            text-align: center;
            color: #ffffff;
            span {
              &:first-of-type {
                img {
                  transform: translateY(25px);
                  width: 72px;
                  height: 72px;
                  background: linear-gradient(
                      317.85deg,
                      #000000 0%,
                      rgba(187, 61, 61, 0.814375) 49.24%,
                      rgba(186, 0, 0, 0.64) 95.49%
                    ),
                    url(mike-von-rj8ohjW9RBA-unsplash.jpg);
                  background-blend-mode: exclusion, normal;
                }
              }
              &:last-of-type {
                img {
                  transform: translateY(12px);
                  width: 72px;
                  height: 72px;
                  background: linear-gradient(
                      317.85deg,
                      #000000 0%,
                      rgba(187, 61, 61, 0.814375) 49.24%,
                      rgba(186, 0, 0, 0.64) 95.49%
                    ),
                    url(mike-von-rj8ohjW9RBA-unsplash.jpg);
                  background-blend-mode: exclusion, normal;
                }
              }
            }
          }
          p {
            font-family: "Futura Bk BT";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 48px;
            text-align: center;
            color: #ffffff;
            margin-top: 80px;
          }
          button {
            margin-top: 80px;
            border: 1px solid #ffffff;
            border-radius: 36px;
            padding: 16px 24px;
            background-color: #000;
            font-family: "Futura Bk BT";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            transition: all 0.4s;
            margin: auto;
            margin-top: 120px;
            span {
              svg {
                path {
                  fill {
                    transition: all 0.4s;
                  }
                }
              }
            }
            &:hover {
              border: 1px solid red;
              color: red;
              span {
                svg {
                  path {
                    fill: red;
                  }
                }
              }
            }
          }
          .section_essence_img {
            position: absolute;
            top: 50%;
            left: 0;
            // width: 746px;
            // height: 377px;
          }
        }
        .section_sellers {
          margin-top: 231px;
          h2 {
            font-family: "Futura Md BT";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 64px;
            text-align: center;
            color: #ffffff;
          }
          .section_sellers_img {
            margin-top: 107px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            img {
              width: 416px;
              height: 560px;
            }
          }
        }
        .section_air {
          margin-top: 160px;
          .section_air_title {
            width: 479px;
            height: 198px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .section_air_item {
            .section_air_item_child {
              &:nth-of-type(1) {
                margin-top: 120px;
                display: flex;
                justify-content: flex-start;
                margin-left: 79px;
                align-items: center;
                gap: 47px;
                .section_air_item_child_row {
                  &:first-of-type {
                    img {
                      width: 400px;
                      height: 200px;
                    }
                    h6 {
                      font-family: "Futura LtCn BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 24px;
                      line-height: 29px;
                      text-transform: capitalize;
                      color: #ffffff;
                      margin-top: 16px;
                      text-align: center;
                    }
                  }
                  &:last-of-type {
                    img {
                      width: 400px;
                      height: 200px;
                    }
                    h6 {
                      font-family: "Futura LtCn BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 24px;
                      line-height: 29px;
                      text-transform: capitalize;
                      color: #ffffff;
                      margin-top: 16px;
                      text-align: center;
                    }
                  }
                }
              }
              &:nth-of-type(2) {
                margin-top: 51px;
                display: flex;
                justify-content: flex-end;
                margin-right: 79px;
                align-items: center;
                gap: 47px;
                .section_air_item_child_row {
                  &:first-of-type {
                    img {
                      width: 400px;
                      height: 219px;
                    }
                    h6 {
                      font-family: "Futura LtCn BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 24px;
                      line-height: 29px;
                      text-transform: capitalize;
                      color: #ffffff;
                      margin-top: 16px;
                      text-align: center;
                    }
                  }
                  &:last-of-type {
                    img {
                      width: 400px;
                      height: 220px;
                    }
                    h6 {
                      font-family: "Futura LtCn BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 24px;
                      line-height: 29px;
                      text-transform: capitalize;
                      color: #ffffff;
                      margin-top: 16px;
                      text-align: center;
                    }
                  }
                }
              }
              &:nth-of-type(3) {
                margin-top: 40px;
                display: flex;
                justify-content: flex-start;
                margin-left: 79px;
                align-items: center;
                gap: 47px;
                .section_air_item_child_row {
                  &:first-of-type {
                    img {
                      width: 400px;
                      height: 219px;
                    }
                    h6 {
                      font-family: "Futura LtCn BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 24px;
                      line-height: 29px;
                      text-transform: capitalize;
                      color: #ffffff;
                      margin-top: 16px;
                      text-align: center;
                    }
                  }
                  &:last-of-type {
                    img {
                      width: 400px;
                      height: 230px;
                    }
                    h6 {
                      font-family: "Futura LtCn BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 24px;
                      line-height: 29px;
                      text-transform: capitalize;
                      color: #ffffff;
                      margin-top: 16px;
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
          button {
            border: 1px solid #ffffff;
            border-radius: 36px;
            padding: 18px 24px;
            background-color: #000;
            font-family: "Futura Bk BT";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            transition: all 0.4s;
            margin: auto;
            margin-top: 120px;
            span {
              svg {
                path {
                  fill {
                    transition: all 0.4s;
                  }
                }
              }
            }
            &:hover {
              border: 1px solid red;
              color: red;
              span {
                svg {
                  path {
                    fill: red;
                  }
                }
              }
            }
          }
        }
        .section_modern {
          margin-top: 159px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 145px 0 102px;
          .section_modern_img {
            background-image: url(/./assets/img/section_modern_background.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            mix-blend-mode: soft-light;
            backdrop-filter: blur(2px);
            border-radius: 50px;
            width: 450px;
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 320px;
              height: 200px;
            }
          }
          .section_modern_text {
            h2 {
              font-family: "Futura Md BT";
              font-style: normal;
              font-weight: 400;
              font-size: 64px;
              line-height: 77px;
              color: #ffffff;
            }
            p {
              font-family: "Futura Bk BT";
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 29px;
              color: #ffffff;
              margin-top: 24px;
            }
            button {
              margin-top: 40px;
              border: 1px solid #ffffff;
              border-radius: 36px;
              padding: 16px 24px;
              background-color: #000;
              font-family: "Futura Bk BT";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 16px;
              color: #ffffff;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 4px;
              cursor: pointer;
              transition: all 0.4s;
              span {
                svg {
                  path {
                    fill {
                      transition: all 0.4s;
                    }
                  }
                }
              }
              &:hover {
                border: 1px solid red;
                color: red;
                span {
                  svg {
                    path {
                      fill: red;
                    }
                  }
                }
              }
            }
          }
        }
        .section_styles {
          margin-top: 221px;
          h2 {
            margin-left: 76px;
            font-family: "Futura Md BT";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 64px;
            text-transform: uppercase;
            color: #ffffff;
            position: relative;
            &::before {
              position: absolute;
              content: url(/./assets/img/styles\ before.png);
              top: 60%;
              right: 54%;
            }
            span {
              color: #ba0000;
            }
          }
          .section_styles_item {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 144px;
            gap: 80px;
            margin-right: 40px;
            .section_styles_item_child {
              .section_styles_item_child_row {
                &:first-of-type {
                  h5 {
                    font-family: "Futura XBlkCnIt BT";
                    font-style: italic;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: right;
                    color: #ffffff;
                    z-index: 2;
                    position: relative;
                  }
                }
                &:last-of-type {
                  display: flex;
                  justify-content: center;
                  gap: 28px;
                  position: relative;
                  .section_styles_item_child_row_blur {
                    position: absolute;
                    background: conic-gradient(
                      from 180deg at 50% 50%,
                      #ff0000 0deg,
                      rgba(255, 0, 0, 0) 360deg
                    );
                    background-blend-mode: luminosity;
                    filter: blur(125px);
                    top: -20%;
                    right: 10%;
                    width: 250px;
                    height: 200px;
                  }
                  img {
                    z-index: 2;
                    width: 240px;
                    height: 170px;
                    margin-top: 16px;
                  }
                  span {
                    font-family: "Futura XBlkCnIt BT";
                    font-style: italic;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 16px;
                    text-align: right;
                    color: #ba0000;
                    margin-top: 22px;
                  }
                }
              }
            }
          }
        }
        .section_logotips {
          margin-top: 250px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 80px;
          padding: 0 20px;
          img {
            width: 100px;
            height: 67px;
          }
        }
        .section_bestthings {
          margin-top: 200px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 80px;
          .section_bestthings_text {
            h2 {
              font-family: "Futura Md BT";
              font-style: normal;
              font-weight: 400;
              font-size: 64px;
              line-height: 77px;
              color: #ffffff;
            }
            p {
              font-family: "Futura Bk BT";
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 29px;
              color: #ffffff;
              margin-top: 32px;
            }
            button {
              font-family: "Futura Bk BT";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 12px;
              color: #ffffff;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 4px;
              background-color: #000;
              cursor: pointer;
              transition: all 0.4s;
              border: 1px solid #ffffff;
              border-radius: 36px;
              padding: 12px 24px;
              margin-top: 40px;
              span {
                svg {
                  path {
                    fil {
                      transition: all 0.4s;
                    }
                  }
                }
              }
              &:hover {
                border: 1px solid red;
                color: red;
                span {
                  svg {
                    path {
                      fill: red;
                    }
                  }
                }
              }
            }
          }
          .section_bestthings_img {
            width: 650px;
            height: 736px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .section_visionary {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 80px;
          margin-top: 100px;
          .section_visionary_img {
            width: 416px;
            height: 416px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .section_visionary_text {
            h3 {
              font-family: "Futura Md BT";
              font-style: normal;
              font-weight: 400;
              font-size: 48px;
              line-height: 58px;
              text-transform: uppercase;
              color: #ffffff;
              span {
                color: #ba0000;
              }
            }
            p {
              font-family: "Futura Bk BT";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              text-transform: capitalize;
              color: #ffffff;
              margin-top: 32px;
            }
            h6 {
              &:nth-of-type(1) {
                margin-top: 32px;
              }
              margin-top: 24px;
              font-family: "Futura Hv BT";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              text-transform: capitalize;
              color: #ffffff;
              span {
                font-weight: bold;
              }
            }
            button {
              border: 1px solid #ffffff;
              border-radius: 36px;
              font-family: "Futura Bk BT";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 12px;
              color: #ffffff;
              background-color: #000;
              transition: all 0.4s;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 12px 24px;
              gap: 4px;
              margin-top: 32px;
              span {
                svg {
                  path {
                    fill {
                      transition: all 0.4s;
                    }
                  }
                }
              }
              &:hover {
                border: 1px solid #ba0000;
                color: #ba0000;
                span {
                  svg {
                    path {
                      fill: #ba0000;
                    }
                  }
                }
              }
            }
          }
        }
        .section_NikeClub {
          margin-top: 287px;
          position: relative;
          .section_NikeClub_item {
            margin: 0 120px;
            padding: 64px 40px;
            mix-blend-mode: normal;
            border: 1px solid #ffffff;
            backdrop-filter: blur(2px);
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 40px;
            .section_NikeClub_item_child {
              &:first-of-type {
                h3 {
                  font-family: "Futura Md BT";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 48px;
                  line-height: 58px;
                  color: #ffffff;
                }
                p {
                  font-family: "Futura Bk BT";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 24px;
                  line-height: 29px;
                  text-transform: capitalize;
                  color: #ffffff;
                  margin-top: 16px;
                }
                button {
                  margin-top: 32px;
                  font-family: "Futura Bk BT";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 12px;
                  color: #ffffff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition: all 0.4s;
                  cursor: pointer;
                  border: 1px solid #ffffff;
                  background-color: #000;
                  border-radius: 36px;
                  padding: 12px 24px;
                  gap: 4px;
                  span {
                    svg {
                      path {
                        fill {
                          transition: all 0.4s;
                        }
                      }
                    }
                  }
                  &:hover {
                    border: 1px solid red;
                    color: red;
                    span {
                      svg {
                        path {
                          fill: red;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .section_NikeClub_sneaker {
            position: absolute;
            top: 40%;
            right: 0;
            height: 376px;
            width: 550px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .section_comfortable {
          border: inherit;
          display: flex;
          align-items: center;
          gap: 150px;
          padding: 57px 0px 57px 80px;
          margin-top: 298px;
          flex-wrap: wrap;
          .section_comfortable_item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            .section_comfortable_item_child {
              &:last-of-type {
                h5 {
                  font-family: "Futura Hv BT";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 19px;
                  text-transform: capitalize;
                  color: #ffffff;
                }
                h6 {
                  font-family: "Futura Bk BT";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 19px;
                  text-transform: capitalize;
                  color: #ffffff;
                  margin-top: 8px;
                }
              }
            }
          }
        }
      }
      footer {
        width: 100%;
        border: inherit;
        .footer_item {
          border: inherit;
          display: flex;
          justify-content: space-between;
          padding: 0 105px 0 80px;
          .footer_item_logo {
            margin-top: 72px;
            margin-bottom: 80px;
            border: inherit;
            h2 {
              font-family: "Futura LT";
              font-style: normal;
              font-weight: 700;
              font-size: 48px;
              line-height: 64px;
              text-transform: capitalize;
              color: #ffffff;
            }
            .footer_item_logo_button {
              display: flex;
              align-items: center;
              position: relative;
              margin-top: 32px;
              input {
                border: 1px solid #ffffff;
                border-radius: 80px;
                font-family: "Futura LT";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: rgba(255, 255, 255, 0.5);
                padding: 16px 80px;
                background: #000000;
              }
              button {
                top: 0;
                right: 10%;
                position: absolute;
                background: #ffffff;
                border: 1px solid #fff;
                border-radius: 80px;
                font-family: "Futura LT";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: #000000;
                padding: 16px 40px;
                transition: all 0.4s;
                cursor: pointer;
                &:hover {
                  background-color: #000;
                  color: #fff;
                }
              }
            }
            .footer_item_logo_img {
              width: 240px;
              height: 125px;
              margin-top: 88px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .footer_item_nav {
            margin-top: 80px;
            margin-bottom: 80px;
            display: flex;
            justify-content: center;
            gap: 71px;
            .footer_item_nav_child {
              &:nth-of-type(3) {
                h5 {
                  font-family: "Futura XBlkCnIt BT";
                  font-style: italic;
                  font-weight: 400;
                  font-size: 24px;
                  line-height: 29px;
                  color: #ffffff;
                }
                ul {
                  margin-top: 24px;
                  display: flex;
                  flex-direction: column;
                  gap: 16px;
                  li {
                    list-style-type: none;
                    a {
                      text-decoration: none;
                      font-family: "Futura LtCn BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 20px;
                      line-height: 24px;
                      color: #ffffff;
                      position: relative;
                      transition: all 0.4s;
                      &::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: #fff;
                        top: 120%;
                        transition: all 0.4s;
                      }
                      &:hover {
                        &::before {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
              .footer_item_nav_child_row {
                &:last-of-type {
                  margin-top: 51px;
                }
                h5 {
                  font-family: "Futura XBlkCnIt BT";
                  font-style: italic;
                  font-weight: 400;
                  font-size: 24px;
                  line-height: 29px;
                  color: #ffffff;
                }
                ul {
                  margin-top: 24px;
                  display: flex;
                  flex-direction: column;
                  gap: 16px;
                  li {
                    list-style-type: none;
                    a {
                      text-decoration: none;
                      font-family: "Futura LtCn BT";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 20px;
                      line-height: 24px;
                      color: #ffffff;
                      position: relative;
                      transition: all 0.4s;
                      &::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: #fff;
                        top: 120%;
                        transition: all 0.4s;
                      }
                      &:hover {
                        &::before {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .footer_reservetion {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 2% 80px;
          .footer_reservetion_item {
            &:first-of-type {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 9px;
              p {
                font-family: "Futura Bk BT";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-transform: capitalize;
                color: #ffffff;
              }
            }
            &:last-of-type {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 43px;
              span {
                cursor: pointer;
                transition: all 0.4s;
                svg {
                  path {
                    fill {
                      transition: all 0.4s;
                    }
                  }
                }
                &:hover {
                  scale: 1.5;
                  svg {
                    path {
                      fill: red;
                    }
                  }
                }
              }
            }
          }
        }
      }
      @media screen and (min-width: 1440px) {
        width: 1440px;
        margin: auto;
      }
    }
  }
}
